In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from tqdm import tqdm
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.preprocessing import MinMaxScaler
#import xgboost as xgb
#import lightgbm as lgb
#from catboost import CatBoostRegressor
import warnings
from sklearn.model_selection import StratifiedKFold, KFold
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score, log_loss
warnings.filterwarnings('ignore')

In [33]:
data_train = pd.read_csv("train.csv")

In [34]:
data_test_a = pd.read_csv("testA.csv")

In [35]:
#划分出数据中的对象特征和数值特征
numerical_fea = list(data_train.select_dtypes(exclude=['object']).columns) 
category_fea = list(filter(lambda x: x not in numerical_fea,list(data_train.columns))) 
label = 'isDefault'
numerical_fea.remove(label)

In [36]:
#1.缺失值填充
data_train.isnull().sum()

id                        0
loanAmnt                  0
term                      0
interestRate              0
installment               0
grade                     0
subGrade                  0
employmentTitle           1
employmentLength      46799
homeOwnership             0
annualIncome              0
verificationStatus        0
issueDate                 0
isDefault                 0
purpose                   0
postCode                  1
regionCode                0
dti                     239
delinquency_2years        0
ficoRangeLow              0
ficoRangeHigh             0
openAcc                   0
pubRec                    0
pubRecBankruptcies      405
revolBal                  0
revolUtil               531
totalAcc                  0
initialListStatus         0
applicationType           0
earliesCreditLine         0
title                     1
policyCode                0
n0                    40270
n1                    40270
n2                    40270
n2.1                  40270
n4                    33239
n5                    40270
n6                    40270
n7                    40270
n8                    40271
n9                    40270
n10                   33239
n11                   69752
n12                   40270
n13                   40270
n14                   40270
dtype: int64

In [37]:
#按照平均数填充数值型特征
data_train[numerical_fea] = data_train[numerical_fea].fillna(data_train[numerical_fea].median())
data_test_a[numerical_fea] = data_test_a[numerical_fea].fillna(data_test_a[numerical_fea].median())

In [38]:
#按照众数填充类别型数据
data_train[category_fea] = data_train[category_fea].fillna(data_train[category_fea].median())
data_test_a[category_fea] = data_test_a[category_fea].fillna(data_test_a[category_fea].median())

In [39]:
data_train.isnull().sum()

id                        0
loanAmnt                  0
term                      0
interestRate              0
installment               0
grade                     0
subGrade                  0
employmentTitle           0
employmentLength      46799
homeOwnership             0
annualIncome              0
verificationStatus        0
issueDate                 0
isDefault                 0
purpose                   0
postCode                  0
regionCode                0
dti                       0
delinquency_2years        0
ficoRangeLow              0
ficoRangeHigh             0
openAcc                   0
pubRec                    0
pubRecBankruptcies        0
revolBal                  0
revolUtil                 0
totalAcc                  0
initialListStatus         0
applicationType           0
earliesCreditLine         0
title                     0
policyCode                0
n0                        0
n1                        0
n2                        0
n2.1                      0
n4                        0
n5                        0
n6                        0
n7                        0
n8                        0
n9                        0
n10                       0
n11                       0
n12                       0
n13                       0
n14                       0
dtype: int64

In [40]:
#2.时间格式处理

#转化时间格式
for data in [data_train, data_test_a]:
    data['issueDate'] = pd.to_datetime(data['issueDate'], format = '%Y-%m-%d')
    startdate = datetime.datetime.strptime('2007-06-01', '%Y-%m-%d')
    #构造时间特征
    data['issueDateDT'] = data['issueDate'].apply(lambda x: x - startdate).dt.days

In [41]:
#3.将对象类型特征转换到数值

data_train['employmentLength'].value_counts(dropna = False).sort_index()

1 year        52489
10+ years    262753
2 years       72358
3 years       64152
4 years       47985
5 years       50102
6 years       37254
7 years       35407
8 years       36192
9 years       30272
< 1 year      64237
NaN           46799
Name: employmentLength, dtype: int64

In [42]:
def employmentLength_to_int(s):
    if pd.isnull(s):
        return s
    else:
        return np.int8(s.split()[0])
    
for data in [data_train, data_test_a]: 
    data['employmentLength'].replace(to_replace='10+ years', value='10 years', inplace=True) 
    data['employmentLength'].replace('< 1 year', '0 years', inplace=True) 
    data['employmentLength'] = data['employmentLength'].apply(employmentLength_to_int)

In [43]:
data['employmentLength'].value_counts(dropna = False).sort_index()

0.0     15989
1.0     13182
2.0     18207
3.0     16011
4.0     11833
5.0     12543
6.0      9328
7.0      8823
8.0      8976
9.0      7594
10.0    65772
NaN     11742
Name: employmentLength, dtype: int64

In [21]:
data_train_ = data_train.copy()
data_test_ = data_test_a.copy()
data_train_['employmentLength'] = data_train_['employmentLength'].fillna(data_train_['employmentLength'].median())
data_test_['employmentLength'] = data_test_['employmentLength'].fillna(data_test_['employmentLength'].median())

In [22]:
data_train_['employmentLength'].value_counts(dropna = False).sort_index()

0.0      64237
1.0      52489
2.0      72358
3.0      64152
4.0      47985
5.0      50102
6.0      84053
7.0      35407
8.0      36192
9.0      30272
10.0    262753
Name: employmentLength, dtype: int64

In [44]:
#用平均是填补'employmentLength'的缺失值

data_train['employmentLength'] = data_train['employmentLength'].fillna(data_train['employmentLength'].median())
data_test_a['employmentLength'] = data_test_a['employmentLength'].fillna(data_test_a['employmentLength'].median())

In [45]:
data_train['employmentLength'].value_counts(dropna = False).sort_index()

0.0      64237
1.0      52489
2.0      72358
3.0      64152
4.0      47985
5.0      50102
6.0      84053
7.0      35407
8.0      36192
9.0      30272
10.0    262753
Name: employmentLength, dtype: int64

In [46]:
#对earliesCreditline - 借款人最早报告的信用额度开立的月份  进行预处理

data_train['earliesCreditLine'].sample(5)    #随机抽出5个样本

422731    Aug-2005
4112      May-1983
621857    Sep-2006
400329    Apr-2002
184945    Dec-2006
Name: earliesCreditLine, dtype: object

In [47]:
for data in [data_train, data_test_a]:
    data['earliesCreditLine'] = data['earliesCreditLine'].apply(lambda s : int(s[-4:]))    #只要后四位，即只管年份？

In [48]:
data['earliesCreditLine'].head()

0    1974
1    2001
2    2006
3    2002
4    2000
Name: earliesCreditLine, dtype: int64

In [52]:
#类别特征处理
cate_features = ['grade', 'subGrade',  'homeOwnership', 'verificationStatus', 'purpose', 'postCode', 'regionCode',  'applicationType', 'initialListStatus', 'title', 'policyCode'] 
for f in cate_features: 
    print(f, '类型数：', data[f].nunique())

grade 类型数： 7
subGrade 类型数： 35
homeOwnership 类型数： 6
verificationStatus 类型数： 3
purpose 类型数： 14
postCode 类型数： 889
regionCode 类型数： 51
applicationType 类型数： 2
initialListStatus 类型数： 2
title 类型数： 12058
policyCode 类型数： 1

In [50]:
#问题 employmentTitle 有这么多类别，该如何处理

In [51]:
data_train.var()

id                    5.333340e+10
loanAmnt              7.597016e+07
term                  7.324482e-01
interestRate          2.271244e+01
installment           6.836154e+04
employmentTitle       1.136049e+10
employmentLength      1.282215e+01
homeOwnership         4.566361e-01
annualIncome          4.753760e+09
verificationStatus    6.126445e-01
isDefault             1.597075e-01
purpose               5.604832e+00
postCode              4.001493e+04
regionCode            1.218083e+02
dti                   1.242889e+02
delinquency_2years    7.749713e-01
ficoRangeLow          1.015442e+03
ficoRangeHigh         1.015485e+03
openAcc               2.997876e+01
pubRec                3.678020e-01
pubRecBankruptcies    1.424212e-01
revolBal              5.043627e+08
revolUtil             6.006416e+02
totalAcc              1.439808e+02
initialListStatus     2.431034e-01
applicationType       1.889629e-02
earliesCreditLine     5.786600e+01
title                 6.306693e+07
policyCode            0.000000e+00
n0                    1.700646e+00
n1                    4.813832e+00
n2                    1.037919e+01
n2.1                  1.037919e+01
n4                    8.362294e+00
n5                    2.193170e+01
n6                    5.212978e+01
n7                    1.984022e+01
n8                    6.281231e+01
n9                    9.839930e+00
n10                   2.884231e+01
n11                   8.256979e-04
n12                   3.655926e-03
n13                   2.464878e-01
n14                   3.232017e+00
issueDateDT           3.493608e+05
dtype: float64

In [53]:
#先尝试将方差小的去掉

In [58]:
#对等级Grade，和Subgrade进行编码，这两个有明显的优先级关系，但是如何体现他们之间的联系？
from sklearn.preprocessing import OrdinalEncoder

#OrdinalEncoder().fit(data_train['grade', 'subGrade']).categories_
data_train.loc[:,['grade', 'subGrade']] = OrdinalEncoder().fit_transform(data_train.loc[:,['grade', 'subGrade']])

In [59]:
data_train.loc[:,['grade', 'subGrade']]

        grade  subGrade
0         4.0      21.0
1         3.0      16.0
2         3.0      17.0
3         0.0       3.0
4         2.0      11.0
...       ...       ...
799995    2.0      13.0
799996    0.0       3.0
799997    2.0      12.0
799998    0.0       3.0
799999    1.0       7.0

[800000 rows x 2 columns]

In [60]:
#到这里对象类型的特征就处理完了，接下来考虑处理数值类型中的离散变量

In [61]:
#类型数在2之上，又不是高维稀疏的，且纯分类特征
for data in [data_train, data_test_a]:
    data = pd.get_dummies(data, columns = ['verificationStatus', 'initialListStatus','applicationType', 'purpose', 'regionCode'], drop_first = True)

In [64]:
data_train.head()

,id,loanAmnt,term,interestRate,installment,grade,subGrade,employmentTitle,employmentLength,homeOwnership,...,n6,n7,n8,n9,n10,n11,n12,n13,n14,issueDateDT
0,0,35000.0,5,19.52,917.97,4.0,21.0,320.0,2.0,2,...,8.0,4.0,12.0,2.0,7.0,0.0,0.0,0.0,2.0,2587
1,1,18000.0,5,18.49,461.90,3.0,16.0,219843.0,5.0,0,...,7.0,7.0,13.0,5.0,13.0,0.0,0.0,0.0,2.0,1888
2,2,12000.0,5,16.99,298.17,3.0,17.0,31698.0,8.0,0,...,21.0,4.0,5.0,3.0,11.0,0.0,0.0,0.0,4.0,3044
3,3,11000.0,3,7.26,340.96,0.0,3.0,46854.0,10.0,1,...,4.0,7.0,21.0,6.0,9.0,0.0,0.0,0.0,1.0,2983
4,4,3000.0,3,12.99,101.07,2.0,11.0,54.0,6.0,1,...,9.0,10.0,15.0,7.0,12.0,0.0,0.0,0.0,4.0,3196

In [66]:
#异常值处理

#检测异常的方法之一：均方差
def find_outliers_by_3segama(data, fea):
    data_std = np.std(data[fea])
    data_mean = np.mean(data[fea])
    outliers_cut_off = data_std * 3;
    lower_rule = data_mean - outliers_cut_off
    upper_rule = data_mean + outliers_cut_off
    data[fea + '_outliers'] = data[fea].apply(lambda x : str('异常值') if x > upper_rule or x < lower_rule else '正常值')
    return data

In [71]:
#得到特征的异常值后可以进一步分析变量异常值和目标变量的关系

data_train = data_train.copy()

for fea in numerical_fea:
    data_train = find_outliers_by_3segama(data_train, fea)
    print(data_train[fea + '_outliers'].value_counts())
    print(data_train.groupby(fea+'_outliers')['isDefault'].sum())
    print('*' * 10)

正常值    800000
Name: id_outliers, dtype: int64
id_outliers
正常值    159610
Name: isDefault, dtype: int64
**********
正常值    800000
Name: loanAmnt_outliers, dtype: int64
loanAmnt_outliers
正常值    159610
Name: isDefault, dtype: int64
**********
正常值    800000
Name: term_outliers, dtype: int64
term_outliers
正常值    159610
Name: isDefault, dtype: int64
**********
正常值    794259
异常值      5741
Name: interestRate_outliers, dtype: int64
interestRate_outliers
异常值      2916
正常值    156694
Name: isDefault, dtype: int64
**********
正常值    792046
异常值      7954
Name: installment_outliers, dtype: int64
installment_outliers
异常值      2152
正常值    157458
Name: isDefault, dtype: int64
**********
正常值    800000
Name: employmentTitle_outliers, dtype: int64
employmentTitle_outliers
正常值    159610
Name: isDefault, dtype: int64
**********
正常值    799701
异常值       299
Name: homeOwnership_outliers, dtype: int64
homeOwnership_outliers
异常值        62
正常值    159548
Name: isDefault, dtype: int64
**********
正常值    793973
异常值      6027
Name: annualIncome_outliers, dtype: int64
annualIncome_outliers
异常值       756
正常值    158854
Name: isDefault, dtype: int64
**********
正常值    800000
Name: verificationStatus_outliers, dtype: int64
verificationStatus_outliers
正常值    159610
Name: isDefault, dtype: int64
**********
正常值    783003
异常值     16997
Name: purpose_outliers, dtype: int64
purpose_outliers
异常值      3635
正常值    155975
Name: isDefault, dtype: int64
**********
正常值    798931
异常值      1069
Name: postCode_outliers, dtype: int64
postCode_outliers
异常值       221
正常值    159389
Name: isDefault, dtype: int64
**********
正常值    799994
异常值         6
Name: regionCode_outliers, dtype: int64
regionCode_outliers
异常值         1
正常值    159609
Name: isDefault, dtype: int64
**********
正常值    798440
异常值      1560
Name: dti_outliers, dtype: int64
dti_outliers
异常值       466
正常值    159144
Name: isDefault, dtype: int64
**********
正常值    778245
异常值     21755
Name: delinquency_2years_outliers, dtype: int64
delinquency_2years_outliers
异常值      5089
正常值    154521
Name: isDefault, dtype: int64
**********
正常值    788261
异常值     11739
Name: ficoRangeLow_outliers, dtype: int64
ficoRangeLow_outliers
异常值       778
正常值    158832
Name: isDefault, dtype: int64
**********
正常值    788261
异常值     11739
Name: ficoRangeHigh_outliers, dtype: int64
ficoRangeHigh_outliers
异常值       778
正常值    158832
Name: isDefault, dtype: int64
**********
正常值    790889
异常值      9111
Name: openAcc_outliers, dtype: int64
openAcc_outliers
异常值      2195
正常值    157415
Name: isDefault, dtype: int64
**********
正常值    792471
异常值      7529
Name: pubRec_outliers, dtype: int64
pubRec_outliers
异常值      1701
正常值    157909
Name: isDefault, dtype: int64
**********
正常值    794120
异常值      5880
Name: pubRecBankruptcies_outliers, dtype: int64
pubRecBankruptcies_outliers
异常值      1423
正常值    158187
Name: isDefault, dtype: int64
**********
正常值    790001
异常值      9999
Name: revolBal_outliers, dtype: int64
revolBal_outliers
异常值      1359
正常值    158251
Name: isDefault, dtype: int64
**********
正常值    799948
异常值        52
Name: revolUtil_outliers, dtype: int64
revolUtil_outliers
异常值        23
正常值    159587
Name: isDefault, dtype: int64
**********
正常值    791663
异常值      8337
Name: totalAcc_outliers, dtype: int64
totalAcc_outliers
异常值      1668
正常值    157942
Name: isDefault, dtype: int64
**********
正常值    800000
Name: initialListStatus_outliers, dtype: int64
initialListStatus_outliers
正常值    159610
Name: isDefault, dtype: int64
**********
正常值    784586
异常值     15414
Name: applicationType_outliers, dtype: int64
applicationType_outliers
异常值      3875
正常值    155735
Name: isDefault, dtype: int64
**********
正常值    775134
异常值     24866
Name: title_outliers, dtype: int64
title_outliers
异常值      3900
正常值    155710
Name: isDefault, dtype: int64
**********
正常值    800000
Name: policyCode_outliers, dtype: int64
policyCode_outliers
正常值    159610
Name: isDefault, dtype: int64
**********
正常值    782773
异常值     17227
Name: n0_outliers, dtype: int64
n0_outliers
异常值      3485
正常值    156125
Name: isDefault, dtype: int64
**********
正常值    790500
异常值      9500
Name: n1_outliers, dtype: int64
n1_outliers
异常值      2491
正常值    157119
Name: isDefault, dtype: int64
**********
正常值    789067
异常值     10933
Name: n2_outliers, dtype: int64
n2_outliers
异常值      3205
正常值    156405
Name: isDefault, dtype: int64
**********
正常值    789067
异常值     10933
Name: n2.1_outliers, dtype: int64
n2.1_outliers
异常值      3205
正常值    156405
Name: isDefault, dtype: int64
**********
正常值    788660
异常值     11340
Name: n4_outliers, dtype: int64
n4_outliers
异常值      2476
正常值    157134
Name: isDefault, dtype: int64
**********
正常值    790355
异常值      9645
Name: n5_outliers, dtype: int64
n5_outliers
异常值      1858
正常值    157752
Name: isDefault, dtype: int64
**********
正常值    786006
异常值     13994
Name: n6_outliers, dtype: int64
n6_outliers
异常值      3182
正常值    156428
Name: isDefault, dtype: int64
**********
正常值    788430
异常值     11570
Name: n7_outliers, dtype: int64
n7_outliers
异常值      2746
正常值    156864
Name: isDefault, dtype: int64
**********
正常值    789625
异常值     10375
Name: n8_outliers, dtype: int64
n8_outliers
异常值      2131
正常值    157479
Name: isDefault, dtype: int64
**********
正常值    786384
异常值     13616
Name: n9_outliers, dtype: int64
n9_outliers
异常值      3953
正常值    155657
Name: isDefault, dtype: int64
**********
正常值    788979
异常值     11021
Name: n10_outliers, dtype: int64
n10_outliers
异常值      2639
正常值    156971
Name: isDefault, dtype: int64
**********
正常值    799434
异常值       566
Name: n11_outliers, dtype: int64
n11_outliers
异常值       112
正常值    159498
Name: isDefault, dtype: int64
**********
正常值    797585
异常值      2415
Name: n12_outliers, dtype: int64
n12_outliers
异常值       545
正常值    159065
Name: isDefault, dtype: int64
**********
正常值    788907
异常值     11093
Name: n13_outliers, dtype: int64
n13_outliers
异常值      2482
正常值    157128
Name: isDefault, dtype: int64
**********
正常值    788884
异常值     11116
Name: n14_outliers, dtype: int64
n14_outliers
异常值      3364
正常值    156246
Name: isDefault, dtype: int64
**********

In [73]:
#删除异常值

for fea in numerical_fea:
    data_train = data_train[data_train[fea + '_outliers'] == '正常值']

In [74]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 612742 entries, 0 to 799999
Data columns (total 89 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           612742 non-null  int64
 1   loanAmnt                     612742 non-null  float64
 2   term                         612742 non-null  int64
 3   interestRate                 612742 non-null  float64
 4   installment                  612742 non-null  float64
 5   grade                        612742 non-null  float64
 6   subGrade                     612742 non-null  float64
 7   employmentTitle              612742 non-null  float64
 8   employmentLength             612742 non-null  float64
 9   homeOwnership                612742 non-null  int64
 10  annualIncome                 612742 non-null  float64
 11  verificationStatus           612742 non-null  int64
 12  issueDate                    612742 non-null  datetime64[ns]
 13  isDefault                    612742 non-null  int64
 14  purpose                      612742 non-null  int64
 15  postCode                     612742 non-null  float64
 16  regionCode                   612742 non-null  int64
 17  dti                          612742 non-null  float64
 18  delinquency_2years           612742 non-null  float64
 19  ficoRangeLow                 612742 non-null  float64
 20  ficoRangeHigh                612742 non-null  float64
 21  openAcc                      612742 non-null  float64
 22  pubRec                       612742 non-null  float64
 23  pubRecBankruptcies           612742 non-null  float64
 24  revolBal                     612742 non-null  float64
 25  revolUtil                    612742 non-null  float64
 26  totalAcc                     612742 non-null  float64
 27  initialListStatus            612742 non-null  int64
 28  applicationType              612742 non-null  int64
 29  earliesCreditLine            612742 non-null  int64
 30  title                        612742 non-null  float64
 31  policyCode                   612742 non-null  float64
 32  n0                           612742 non-null  float64
 33  n1                           612742 non-null  float64
 34  n2                           612742 non-null  float64
 35  n2.1                         612742 non-null  float64
 36  n4                           612742 non-null  float64
 37  n5                           612742 non-null  float64
 38  n6                           612742 non-null  float64
 39  n7                           612742 non-null  float64
 40  n8                           612742 non-null  float64
 41  n9                           612742 non-null  float64
 42  n10                          612742 non-null  float64
 43  n11                          612742 non-null  float64
 44  n12                          612742 non-null  float64
 45  n13                          612742 non-null  float64
 46  n14                          612742 non-null  float64
 47  issueDateDT                  612742 non-null  int64
 48  id_outliers                  612742 non-null  object
 49  loanAmnt_outliers            612742 non-null  object
 50  term_outliers                612742 non-null  object
 51  interestRate_outliers        612742 non-null  object
 52  installment_outliers         612742 non-null  object
 53  employmentTitle_outliers     612742 non-null  object
 54  homeOwnership_outliers       612742 non-null  object
 55  annualIncome_outliers        612742 non-null  object
 56  verificationStatus_outliers  612742 non-null  object
 57  purpose_outliers             612742 non-null  object
 58  postCode_outliers            612742 non-null  object
 59  regionCode_outliers          612742 non-null  object
 60  dti_outliers                 612742 non-null  object
 61  delinquency_2years_outliers  612742 non-null  object
 62  ficoRangeLow_outliers        612742 non-null  object
 63  ficoRangeHigh_outliers       612742 non-null  object
 64  openAcc_outliers             612742 non-null  object
 65  pubRec_outliers              612742 non-null  object
 66  pubRecBankruptcies_outliers  612742 non-null  object
 67  revolBal_outliers            612742 non-null  object
 68  revolUtil_outliers           612742 non-null  object
 69  totalAcc_outliers            612742 non-null  object
 70  initialListStatus_outliers   612742 non-null  object
 71  applicationType_outliers     612742 non-null  object
 72  title_outliers               612742 non-null  object
 73  policyCode_outliers          612742 non-null  object
 74  n0_outliers                  612742 non-null  object
 75  n1_outliers                  612742 non-null  object
 76  n2_outliers                  612742 non-null  object
 77  n2.1_outliers                612742 non-null  object
 78  n4_outliers                  612742 non-null  object
 79  n5_outliers                  612742 non-null  object
 80  n6_outliers                  612742 non-null  object
 81  n7_outliers                  612742 non-null  object
 82  n8_outliers                  612742 non-null  object
 83  n9_outliers                  612742 non-null  object
 84  n10_outliers                 612742 non-null  object
 85  n11_outliers                 612742 non-null  object
 86  n12_outliers                 612742 non-null  object
 87  n13_outliers                 612742 non-null  object
 88  n14_outliers                 612742 non-null  object
dtypes: datetime64[ns](1), float64(36), int64(11), object(41)
memory usage: 420.7+ MB